<!doctype html>
<html>
<head>
	<meta http-equiv='Content-Type' content='text/html;charset=UTF-8'/>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link href="https://getbootstrap.com/docs/4.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">	
	<style>
	.active {
		text-transform: uppercase;
		padding-top: 15px;
		padding-bottom: 15px;
		background-color: rgba(14, 69, 78, 0.304) !important;
		border: 0px !important;
	}
	.log {
		font-family: monospace;
	}
	</style>
</head>
<body>
	<div class="container">
		{% block body %} {% end %}
	</div>		
	<script>
	</script>
</body>
</html>
